
    <mat-toolbar color="primary">
      <a mat-button routerLink="/" class="brand">
        <mat-icon>music_note</mat-icon>
        Music Player
      </a>
      
      <span class="spacer"></span>
      
      <nav>
        <a mat-button routerLink="/library" routerLinkActive="active">
          <mat-icon>library_music</mat-icon>
          Library
        </a>
        <button mat-button (click)="openUploadDialog()">
          <mat-icon>upload</mat-icon>
          Upload
        </button>
      </nav>
    </mat-toolbar>
 